<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article List</title>
</head>
<body>

<h1>Article List</h1>

<table border="1">
    <thead>
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Author ID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article : ${articles}">
        <!-- 각 게시글 제목에 링크 추가 -->
        <td>
            <a th:text="${article.title}"
               th:href="@{/articles/article/{id}(id=${article.id})}">Sample Title</a>
        </td>
        <td th:text="${article.content}">Sample Content</td>
        <td th:text="${article.id}">Sample Author ID</td>
    </tr>
    </tbody>
</table>

<br>
<a href="/articles/create">Create New Article</a>

</body>
</html>
